<div class="iban-component">
	<div class="form-content">
	  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
		<h1>BANKAJAR </h1>
		<p class="balance-label">Balance:<span class="dynamic-balance">{{totalBalance}}</span></p>
		<p class="has-dynamic-label">
		  <input class="form-control" id="ibanReactive" type="text" name="ibanReactive" formControlName="ibanReactive" placeholder="Enter IBAN" required>
		  <label for="dynamic-label-input">IBAN</label>
		</p>
		<div *ngIf="ibanReactive.invalid && (ibanReactive.dirty || ibanReactive.touched)"
         class="alert alert-danger">
 
		  <div *ngIf="ibanReactive.errors.required">
			IBAN is required.
		  </div>
		  <div *ngIf="ibanReactive.errors.iban">
			IBAN is invalid
		  </div>
 
		</div>
		<div *ngIf="ibanReactive.valid && (ibanReactive.dirty || ibanReactive.touched)"
			 class="alert alert-info">
		  {{ibanReactive.value | ibanFormatter}}: IBAN is valid.
		  
		  <span><img class="flag" src="assets/flags/{{ibanReactive.value.substring(0,2) | lowercase}}.svg"/></span>
		</div>
		<div *ngIf="ibanReactive.valid && (ibanReactive.dirty || ibanReactive.touched)">
			<p class="has-dynamic-label">
			  <input  type="text" id="amount"  placeholder="Enter Amount" formControlName="amount" required>
			  <label for="dynamic-label-input">AMOUNT</label>
			</p>
			<div *ngIf="amount.invalid && (amount.dirty || amount.touched)"
         class="alert alert-danger">
 
		  <div *ngIf="amount.errors.required">
			Amount is required.
		  </div>
		  <div *ngIf="amount.errors">
			Amount is invalid
		  </div>
 
		</div>
		<div *ngIf="amount.valid && (amount.dirty || amount.touched)"
			 class="alert alert-info">
		  Amount is valid.Please proceed transfer.
		  
		</div>
			<label class="balance-chart-label">  Real time Balance Tracker: </label>
			<div class="pie">
					<div *ngIf="amount.invalid" class="pie_segment" style="--offset: 0; --value: 0; --bg: #db0a5b;"></div>
					<div *ngIf="amount.valid && (amount.value <= 50000)" class="pie_segment" style="--offset: 25; --value: 10; --bg: #22a7f0;"></div>
					<div *ngIf="amount.valid && (amount.value >= 50000)" class="pie_segment" style="--offset: 65; --value: 40; --bg: #22a7f0;"></div>
			</div>
			<div>
				<input type="submit" value="Transfer" class="btn btn-primary"/>
			</div>
		</div>
	  </form>
	</div>
</div>
